*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 150%;
    margin-top: 10px;
    color: rgb(76, 140, 146);
}

.nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.nav button{
    width: 250px;
    height: auto;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    color: black;
    border: 1px solid rgb(76, 140, 146);
    background-color: rgb(248, 252, 0);
    border-radius: 20px;
    transition: transform 0.1s ease, background-color 0.3s ease;
    cursor: pointer;
    
}

.nav i{
    margin: 5px;
    color: black;
}

.nav button:hover{
    background-color:beige;
}

.nav button:active{
    transform: scale(0.95);;
}



.addNewTask{
    display: flex;
    justify-content: center;
    /* visibility: hidden; */
}

.addNewTask input,textarea,select{
    width: 100%;
    height: auto;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(76, 140, 146);
    cursor: pointer;
    
}


label{
    font-size: 20px;
    margin: 15px;
}

.addNewTask button{
    display: flex;
    margin: 15px;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.1s ease, background-color 0.3s ease;
    border: 1px solid rgb(76, 140, 146);
    background-color: rgb(248, 252, 0);
    width: max-content;
    cursor: pointer;
    
}

.addNewTask button:hover{
    background-color:beige;
}

.addNewTask button:active{
    transform: scale(0.95);
}

.display{
    visibility: visible;
    transition: visibility 0.3s ease; 
    
}

.task{
    margin: 2dvh;
    padding: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(76, 140, 146);
    border-style: outset;
    border-top: none;
    border-right: none;
    
}

.task button{
    margin: 0px;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.1s ease, background-color 0.3s ease;
    border: 1px solid rgb(76, 140, 146);
    background-color: rgb(248, 252, 0);
    width: max-content;
    cursor: pointer;
    
}

.task button:hover{
    background-color:beige;
}

.task button:active{
    transform: scale(0.95);;
}

#pending_tasks h1{
    padding-left: 15px;
    padding-bottom: 8px;
    color: rgb(76, 140, 146);
    border: 2px solid black;
    margin: 17px;
    
}

#completed_tasks h1{
        padding-left: 15px;
        padding-bottom: 8px;
        color: rgb(76, 140, 146);
        border: 2px solid black;
        margin: 17px;
}

.filters button{
    width: 500px;
    height: 50px;
    margin: 30px;
    font-size: 30px;
}


#completed_tasks {
    text-decoration: line-through;
    color: gray;
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}